@page "/fetchdata"

@using System.Net.Http;
@inject HttpClient Http;
@using HelsinkiCityBikeApp.Shared;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>


@if (stations != null)
{
    <div>
        @foreach (var station in stations)
        {
            <div>@station.Name</div>
        }
    </div>
}
else
{
    <p>Loading</p>
}
@code {
    private bool isRequestSuccessful = false;
    private List<Station> stations = new List<Station>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("api/stations");
        isRequestSuccessful = response.IsSuccessStatusCode;
        if (isRequestSuccessful)
        {
            stations = await Http.GetFromJsonAsync<List<Station>>("api/stations");
        }
        
    }
}
