@page "/"
@using System.Net.Http;
@inject HttpClient Http;

<PageTitle>Index</PageTitle>


<div class="mainDiv">

        <div class="childDiv">
        <h1>Hello, biker!</h1>

        <h3>@(isRequestSuccessful ? "Server is " : "Server is ")<img src="@(isRequestSuccessful ? "/img/true.png" : "/img/false.png")" /></h3>
        </div>
    
</div>

@code {
    private bool isRequestSuccessful = false;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("api/stations");
        isRequestSuccessful = response.IsSuccessStatusCode;
        Console.WriteLine(response);
    }
}
