@page "/stations"

@using System.Net.Http;
@inject HttpClient Http;
@using HelsinkiCityBikeApp.Shared;

<PageTitle>Stations</PageTitle>




@if (list != null)
{
    <div class="mainDiv">
             <div class="childDiv">Lorem ipsum</div>
        @foreach (var station in list)
        {
            <div class="childDiv">
                <table>
                    <thead>
                        <tr>
                            <th>Station ID</th>
                            <th>Station Name</th>
                            <th>Station Address</th>
                            <th>Station Capacity</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                        
                            <tr>
                                <td>@station.Id</td>
                                <td>@station.Nimi</td>
                                <td>@station.Osoite</td>
                                <td>@station.Kapasiteet</td>
                            </tr>
                        
                    </tbody>
                </table>
             </div>
        }
    </div>
}
else
{
    <h2><img src="/img/loading.gif" width="150" /></h2>
}
@code {
    private bool isRequestSuccessful = false;
    private List<Station> list = new List<Station>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("api/stations");
        isRequestSuccessful = response.IsSuccessStatusCode;
        if (isRequestSuccessful)
        {
            list = await Http.GetFromJsonAsync<List<Station>>("api/stations");
        }
        
    }
}
