@page "/stations"
@using HelsinkiCityBikeApp.Shared;
@using System.Net.Http;
@inject HttpClient Http;
@inject NavigationManager NavigationManager

<PageTitle>Stations</PageTitle>

<div class="childDiv">
    <label>Stations count</label>
    <input type="number" class="form-control" min="1" max="1000" @bind-value="takeCount" />
    <label>Search Station Names</label>
    <input type="text" class="form-control" @bind-value="stationName" />
    <label>Search Station Addresses</label>
    <input type="text" class="form-control" @bind-value="stationAddress" />
    <label>Station Min Capacity</label>
    <input type="number" class="form-control" @bind-value="stationCapacity" />
    <button class="btn btn-primary" @onclick="FilterList">Filter</button>
    <button class="btn btn-danger ml-2" @onclick="ClearFilters">Clear Filters</button>
</div>
   <div class="mainDiv">
@if (filteredList != null)
{

 

        @foreach (var station in filteredList)
        {
            <div class="childDiv">
                <table>
                    <thead>
                        <tr>
                         
                            <th>Station Name</th>
                            <th>Station Address</th>
                            <th>Station Capacity</th>
                            <th>Station Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                  
                            <td>@station.Nimi</td>
                            <td>@station.Osoite</td>
                            <td>@station.Kapasiteet</td>
                            <td>
                                <button class="btn btn-primary" @onclick="@(() => NavigationManager.NavigateTo($"/stationsDetails/{station.ID}"))">Details</button>

                            </td>
                        </tr>
            
                    </tbody>
                </table>
            </div>
        }

}
    else
    {
        <div class="childDiv">  <img src="/img/loading.gif" width="150" /></div>
    }
</div>


@code {
    private bool isRequestSuccessful = false;
    private List<Station> list = new List<Station>();
    private List<Station> filteredList = new List<Station>();
    private int takeCount = 150;
    private string stationName = "";
    private string stationAddress = "";
    private int stationCapacity = 1;

    protected override async Task OnInitializedAsync()
    {
        //we will get all the stations, but by default we will only show 50 of them
        var response = await Http.GetAsync("api/stations");
        isRequestSuccessful = response.IsSuccessStatusCode;
        if (isRequestSuccessful)
        {
            list = await Http.GetFromJsonAsync<List<Station>>("api/stations");
            FilterList();
        }
    }

    private void FilterList()
    {
        //we filter data from the list, not from the API, because we want to be able to filter the data even if we have already filtered it
        filteredList = list
            .Where(station =>
            (string.IsNullOrEmpty(station.Nimi) || station.Nimi.ToUpper().StartsWith(stationName.ToUpper()))
    && (string.IsNullOrEmpty(station.Osoite) || station.Osoite.ToUpper().StartsWith(stationAddress.ToUpper()))
    && (station.Kapasiteet >= stationCapacity)

            )
            .Take(takeCount)
            .ToList();
    }
    private void ClearFilters()
    {
        //Returns all the data to the list, note, that there is more data in the list than we are showing in the pages by default.
        stationName = "";
        stationAddress = "";
        stationCapacity = 1;
        FilterList();
    }

}
